.container-propagande {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    gap: 0 8px;
    grid-template-areas:
    "div-histoire-p div-image-p";
}
.grid_1 { grid-area: div-histoire-p; }
.grid_2 { grid-area: div-image-p; }
.div-quote-propagande blockquote {
    margin: 0;
    background: #ffffff;
    padding: 1em;
    border-radius: 1em;
}

.div-image-propagande figure {
    margin-right: 0;
    margin-bottom: 3em;
    padding-bottom: 4em;
}

.div-source-propagande li {
    list-style-type: none;
    display: inline;
    margin-right: 1vw;
}

.main-propagande a {
    text-decoration: none;
    color: var(--color-primary-200);
    font-size: 1.05em;
}

.lien-netflix{
    display: flex;
    align-content: space-between;
}

.lien-netflix img{
    width: 10%;
}

.lien-netflix div{
    align-content: space-around;
    margin: 3em 2em;

}

.lien-netflix div a {
    background-color: red;
    color: white;
    padding: 1em 1.5em;
    text-decoration: none;
    text-transform: uppercase;
}


blockquote.quote {
    position: relative;
    text-align: center;
    padding: 1rem 1.2rem;
    width: 80%;  /* create space for the quotes */
    color: #f5982e;
    margin: 1rem auto 2rem;
}
blockquote {
    position: relative;
    padding-left: 1em;
    border-left: 0.2em solid #f5982e;
    font-size: 2em;
    line-height: 1.5em;
    font-weight: 100;
}
blockquote:before, blockquote:after {
    color: #039be5;
    font-size: 34px;
}